.THIS.preview{
    text-align: center;
    width: 202px;
    margin-top: 20px;
    height: 455px;
    background-color:#f3f2f0;
    display: inline-block;
    vertical-align: top;
    overflow-x: hidden; 
    overflow-y: auto; 
    border: 1px solid black;
}